node_modules
coverage
.nyc_output/
coverage.lcov
.DS_Store
.wechatide
.cache
.temp
docsback/.vuepress/dist

docs/.vitepress/dist
docs/.vitepress/cache

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
# build/
profiles/
native